
/**//* Animations *//**/ 
@keyframes pulse {
    100% {
        border-color: rgb(255, 255, 0);
    }
}

/**//* Colour Scheme *//**/ 
:root {
    --clear: rgb(0,0,0,0);
    --dark-text: white;
    --light-text: black;
    --dark-border: red;
    --light-border: blue;
}

/**//* Background *//**/ 
html[data-theme=dark], body[data-theme=dark] {
    min-height: 100%;
    width: 100%;
    background: var(--light-text);
    transition: all 0.25s linear;

    backface-visibility: hidden;
}

html[data-theme=light], body[data-theme=light] {
    min-height: 100%;
    width: 100%;
    background: var(--dark-text);
    transition: all 0.25s linear;

    backface-visibility: hidden;
}

/**//* Dark mode *//**/ 

[data-theme=dark] .form-check-input {
    border: 1px solid var(--dark-border);
    background-color:var(--light-text);
    box-shadow: 0 0px 0px;
    transition: all 0.25s linear;
}

[data-theme=light] .form-check-input {
    border: 1px solid var(--light-border);
    background-color:var(--dark-text);
    box-shadow: 0 0px 0px;
    transition: all 0.25s linear;
}

/* Text label */ 
[data-theme=dark] .mode {
    color: var(--dark-text);
}

[data-theme=light] .mode {
    color: var(--light-text);
}

/**//* Tabs *//**/ 

/* Bottom border */ 
[data-theme=dark] .nav-tabs {
    color: var(--dark-border);
    border-bottom: 1px solid var(--dark-border);
    transition: all 0.25s linear;

    //animation: pulse 1s infinite alternate;
}

[data-theme=light] .nav-tabs {
    color: var(--light-border);
    border-bottom: 1px solid var(--light-border);
    transition: all 0.25s linear;

    //animation: pulse 1s infinite alternate;
}

/* Element Colour (Contents such as text) */
[data-theme=dark] .nav-link {
    color: var(--dark-border);
}

[data-theme=light] .nav-link {
    color: var(--light-border);
}

/* Hover over */ 
[data-theme=dark] .nav-tabs .nav-item .nav-link:hover {
    //border: 0px solid var(--clear); //Causes scaling issues
    border: 1px solid var(--clear);
    border-bottom: 0px solid var(--clear);
}

[data-theme=light] .nav-tabs .nav-item .nav-link:hover {
    //border: 0px solid var(---clear); //Causes scaling issues
    border: 1px solid var(--clear);
    border-bottom: 0px solid var(--clear);
}

/* Highlighting Border (Over top border) */ 
[data-theme=dark] .nav-tabs .nav-item .nav-link.active {
    background-color: var(--light-text);
    color: var(--dark-text);

    border: 1px solid var(--dark-border);
    border-bottom: 1px solid var(--clear);
    transition: all 0.25s linear;

    //animation: pulse 1s infinite alternate;
}

[data-theme=light] .nav-tabs .nav-item .nav-link.active {
    background-color: var(--dark-text);
    color: var(--light-text);

    border: 1px solid var(--light-border);
    border-bottom: 1px solid var(--clear);
    transition: all 0.25s linear;

    //animation: pulse 1s infinite alternate;
}

/* Tab contents */ 
[data-theme=dark] .tab-content .tab-pane {
    color: var(--dark-text);
    min-height: 200px;
    height: auto;
    transition: all 0.25s linear;
}

[data-theme=light] .tab-content .tab-pane {
    color: var(--light-text);
    min-height: 200px;
    height: auto;
    transition: all 0.25s linear;
}


/**//* Table *//**/ 
.tab-content {
    width: 80%;
    margin-left: 10%;
}

/**//* 3D cards *//**/
.card {
    display: block;
    width: 15vw;
    height: 15vw;
    background: rgb(100, 0, 0, 1);
    border-radius: 1%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* How do i centre the grid?? */
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 0.5vw;
    grid-column-gap: 0.5vh;
    justify-items: center;
    align-items: center;
}

.card-header {
    position: absolute;
    display: grid;
    grid-template-columns: 2;
    grid-gap: 0%;
    justify-items: right;
    align-items: right;
    border: none;
    padding: 0%;
    margin: 0%;
    left: 0%;
    right: 0%;
}

/**//* Buttons *//**/
button {
    border: none;
    padding: 0;
    background: none;
}

/**//* Icons *//**/
.material-icons {
    background-color:rgb(255, 0, 0, 1);
}
