html[data-theme="dark"], body[data-theme="dark"] {
    min-height: 100%;
    width: 100%;
    background: black;
}

[data-theme="dark"] .nav-tabs .nav-item .nav-link {
    background-color: #1c1f23;
}
  
[data-theme="dark"] .nav-tabs .nav-item .nav-link.active {
    color: white;
}

[data-theme="dark"] .tab-content .tab-pane {
    background-color: #1c1f23;
    color: white;
    min-height: 200px;
    height: auto;
}

[data-theme="light"] .table-dark {
    Display: none;
}

[data-theme="dark"] .table-light {
    Display: none;
}
